<h1>Chicken</h1>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(3) do %>
    <%= image_tag('img-02.jpg') %><br>
    Chicken Wings
  <% end %>
</div>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(5) do %>
    <%= image_tag('img-02.jpg') %><br>
    Chicken Fingers
  <% end %>
</div>
