/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


   .header {
     width: 80%;
     margin-left: 10%;
     height: 13vh;
     position: relative;
     top: 7%;
     background: #6C7A89;
     color: #F2F1EF;
   }

   .header-title {
     font-size: 2em;
     padding: 10px;
   }

   .header-subtitle {
     padding: 10px;
   }

   .header-menu {
     width: 80%;
     margin-left: 10%;
     height: 5vh;
     list-style-type: none;
     position: relative;
     top: 10px;
   }

   .header-menu a {
     text-decoration: none;
     color: black;
   }

   .header-list {
     list-style-type: none;
     line-height: 0.5;
   }

   .header-list-item {
     display: inline-block;
     padding-left: 10%;
   }

   .hero-content {
     width: 60%;
     margin-left: 10%;
     height: 80vh;
     background: #EEEEEE;
     float: left;
   }

   .hero-sidebar {
     width: 20%;
     margin-right: 10%;
     height: 80vh;
     background: #DADFE1;
     float: right;
   }

   .section-content {
     width: 80%;
     margin-left: 10%;
     height: 80vh;
     background: #EEEEEE;
     float: left;
   }

   #map {
     height: 50vh;
     width: 100%;
     border: 1px solid black;
   }

   .location_info {
     text-align: center;
   }

   .section_title {
     text-align: center;
   }
