<div class="header-navbar">
  <div class="header-navbar-item"><%= image_tag 'logo.png' %></div>
  <h3 class="header-navbar-item"><%= link_to 'Menu', '/', style: 'text-decoration: none;' %></h3>
  <h3 class="header-navbar-item"><%= link_to 'Coupons', '/coupon', style: 'text-decoration: none;' %></h3>
  <h3 class="header-navbar-item"><%= link_to 'Locations', '/locations', style: 'text-decoration: none;' %></h3>
</div>
