<div class="dom-navbar">
  <h3 class="dom-navbar-item"><%= link_to 'Menu', '/' %></h3>
  <h3 class="dom-navbar-item"><%= link_to 'Coupons', '/coupon' %></h3>
  <h3 class="dom-navbar-item"><%= link_to 'Locations', '/locations' %></h3>
  <h3 class="dom-navbar-item"><%= link_to 'Tracker', '/tracker' %></h3>
</div>
