<div class="top-panel">
	<div class="holder">
		<strong>Get Social with Us!</strong>
		<ul class="list-socials">
			<li><a href="https://www.facebook.com/GinosPizzaGroup" class="facebook">facebook</a></li>
			<li><a href="https://twitter.com/ginospizzacdn" class="twitter">twitter</a></li>
		</ul>
	</div>
</div>
