<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIrK7eRQCV0cSVlv5ivCIVG5DqIJqnCyg&callback=initMap"async defer></script>

<div class="col-md-4 location-info">
  <h3>Location 1</h3>
  110 Laurier Ave W<br/>
  Ottawa, ON K1P 1J1, Canada
</div>

<div class="col-md-4 location-info">
  <h3>Location 2</h3>
  380 Sussex Dr<br/>
  Ottawa, ON K1N 9N4, Canada
</div>

<div class="col-md-4 location-info">
  <h3>Location 3</h3>
  100 Laurier St, Gatineau<br/>
  QC K1A 0M8, Canada
</div>
